# System
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.pro.user

# Environment
.env
*.env

# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class
*.egg-info/
.python-version

# C++
.clang-format
.clangd
.ca

# ROS2
build/
install/
log/

# Docker
docker/config.sh
docker/client/config.sh
docker/llm_planner/config.sh

# Backup
*.*.backup
*_backup.txt

# Prettier
.prettierignore
.prettierrc

# Claude
.claude/
CLAUDE.md